---
import { Image } from "astro:assets";
import bgImage from "@/images/christmas-background.webp";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Image
      src={bgImage}
      alt="A southern hemisphere christmas"
      class="absolute top-0 left-0 w-[calc(100%-3rem)] h-[calc(100%-3rem)] object-cover mix-blend-multiply m-6 rounded-3xl"
    />
    <slot />
  </body>
</html>
